.gif-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.gif-nav {
  display: flex;
  padding: 10px;
  background-color: var(--lighter-grey);
  border: 2px solid var(--light-grey);
}

.gif-nav button {
  flex-grow: 1;
  background-color: var(--lighter-grey);
}

.gif-box input {
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 25px;
  width: 70%;
  background-color: var(--lighter-grey);
  border: 2px solid var(--buttons);
  color: var(--text);
  font-size: 1em;
  margin: 0 4%;
}

.gifs {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.gif {
  display: flex;
  background-color: var(--light-grey);
  margin: 2px;
  flex-grow: 1;
  flex-shrink: 1;
  cursor: pointer;
  border-radius: 2px;
  overflow: hidden;
  justify-content: center;
}

.img-shadow-div {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.img-shadow-div img {
  flex-grow: 1;
  flex-shrink: 0;
}
