.input-form {
  width: 100%;
  background-color: var(--lighter-grey);
  position: relative;
}

.input-div {
  display: flex;
  justify-content: center;
  height: 50px;
  padding: 5px;
}

.text-input {
  border: none;
  outline: none;
  padding: 0px 15px;
  border-radius: 25px;
  width: 60%;
  background-color: var(--background);
  color: var(--text);
  font-size: 1em;
}

.input-buttons {
  border: none;
  outline: none;
  background-color: var(--lighter-grey);
  color: var(--main-blue);
  padding: 0px 10px;
  cursor: pointer;
}

.input-buttons:hover {
  color: var(--main-blue-dark);
  transition-delay: 40ms;
}

.input-buttons span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8em;
}

.emoji-gif-container {
  color: var(--text);
  background-color: var(--lighter-grey);
  position: absolute;
  height: 400px;
  width: 75%;
  left: 50px;
  bottom: 52px;
  display: flex;
  flex-direction: column;
}

.emoji-gif-content {
  height: 100%;
}

.preview-gif {
  position: absolute;
  bottom: 50px;
  left: 10%;
  display: flex;
  padding: 5px;
  background-color: var(--light-grey);
  justify-content: space-around;
  align-items: center;
}

.preview-gif img {
  max-height: 200px;
  max-width: 300px;
}

.preview-gif button {
  border-radius: 25px;
  padding: 5px;
}

@media (max-width: 961px) {
  .text-input {
    flex: 1;
  }
  .emoji-gif-container {
    left: auto;
    width: 100%;
  }
}

@media (pointer: none), (pointer: coarse) and (max-width: 961px) {
  .input-form {
    /* position: sticky; */
  }

  .emoji-gif-container {
    bottom: 0px;
    position: relative;
    height: 500px;
  }

  .preview-gif {
    left: 0%;
    width: 100%;
  }
}
